.background:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url(assets/planet.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: blur(.25rem);
}

.background {
    background: radial-gradient(#000000aa 0%, transparent 40%);
}

.hero {
    padding: 1rem;
}

.hero-logo {
    width: 128px;
    user-select: none;
    pointer-events: none;
}

.scroll-button {
    color: #ffffff88;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.scroll-button:hover {
    color: white;
    transform: translateY(-20%);
}

.scroll-button-hidden {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
}

.hover-img-container{
    overflow: hidden;
}

.hover-img{
    transition: all 0.3s ease-in-out;
    -webkit-user-drag: none;
}

.hover-img:hover{
    transform: scale(130%) rotate(-10deg);
    cursor: pointer;
}