.background:before {
    background-image: url(assets/planet.jpeg);
}

.hero {
    padding: 1rem;
}

.hero-logo {
    width: 128px;
    user-select: none;
    pointer-events: none;
}

.hover-img-container {
    overflow: hidden;
    position: relative;
    pointer-events: auto;
}

.hover-img {
    transition: transform .3s ease-in-out, opacity .5s linear;
    -webkit-user-drag: none;
}

.hover-img-container:hover > .hover-img {
    transform: scale(130%) rotate(-10deg);
    cursor: pointer;
}

.hover-img-container:hover > .overlayed-img {
    transform: translateX(-50%) scale(130%) rotate(-10deg);
}


.overlayed-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
}